
<div class="sidebar vh-100">
    <h1 class="sidebar-titulo">Gestão de Farmácia</h1>
    <ul class="sidebar-itens">
        <li>
            <a class="sidebar-item" id="sidebar-cliente" href="/cliente">Clientes</a>
        </li>

        <li>
            <a class="sidebar-item" id="sidebar-fornecedor" href="/fornecedor">Fornecedores</a>
        </li>

        <li>
            <a class="sidebar-item" id="sidebar-produto" href="/produto">Produtos</a>
        </li>

        <li>
            <a class="sidebar-item" id="sidebar-venda" href="/venda">Vendas</a>
        </li>
    </ul>
</div>