{% extends 'base.html' %}

{% block title %} Venda {% endblock %}

{% block content %}
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
        }
        .form {
            width: 1153px;
            height: 624px;
            position: relative;
        }
        .fixed-size {
            width: 1153px;
            height: 624px;
        }
        .label {
            font-size: 11pt;
            position: absolute;
        }
        .input {
            position: absolute;
        }
        .line {
            position: absolute;
            background-color: black;
        }
        .line.horizontal {
            height: 1px;
            width: 100%;
        }
        .line.vertical {
            width: 1px;
            height: 100%;
        }
        .frame {
            background-color: rgb(56, 104, 106);
            position: absolute;
        }
        .frame .label {
            color: rgb(255, 255, 255);
        }
        .button {
            position: absolute;
            background-color: rgb(255, 255, 255);
            color: rgb(56, 104, 106);
            font-size: 9pt;
            font-weight: bold;
        }
        .button.add-item {
            background-color: rgb(255, 255, 255);
            color: rgb(56, 104, 106);
            border: 1px solid rgb(107, 107, 107);
            font-size: 8pt;
        }
    </style>

    <div class="form fixed-size">
        <label class="label" style="left: 50px; top: 60px; width: 61px; height: 28px;">Cliente:</label>
        <input type="text" class="input" style="left: 120px; top: 10px; width: 441px; height: 31px;">
        <input type="text" class="input" style="left: 120px; top: 110px; width: 441px; height: 31px;">
        <div class="line horizontal" style="left: 10px; top: 220px; width: 1141px;"></div>
        <label class="label" style="left: 90px; top: 10px; width: 21px; height: 28px;">ID:</label>
        <input type="text" class="input" style="left: 120px; top: 60px; width: 441px; height: 31px;">
        <label class="label" style="left: 20px; top: 110px; width: 91px; height: 28px;">Forma Pag:</label>
        <!-- VALOR DA VENDA -->
        <div class="frame" style="left: 580px; top: 0px; width: 570px; height: 151px;">
            <div class="frame" style="left: 320px; top: 20px; width: 181px; height: 31px;"></div>
            <div class="frame" style="left: 320px; top: 60px; width: 181px; height: 31px;"></div>
            <label class="label" style="left: 30px; top: 20px; width: 111px; height: 16px;">Valor Bruto</label>
            <label class="label" style="left: 30px; top: 60px; width: 71px; height: 16px;">Desconto</label>
            <label class="label" style="left: 30px; top: 110px; width: 131px; height: 21px;">Valor pagamento</label>
            <div class="line horizontal" style="left: 0px; top: 90px; width: 561px;"></div>
            <label class="label" style="left: 320px; top: 110px; width: 181px; height: 21px;"></label>
        </div>
        <!-- PRODUTOS -->
        <div class="frame" style="left: 280px; top: 240px; width: 871px; height: 381px;">
            <div class="frame" style="left: 10px; top: 10px; width: 851px; height: 361px;">
                <div style="left: 0px; top: 0px; width: 851px; height: 361px; font-size: 10pt;"></div>
            </div>
        </div>
        <!-- REALIZAR VENDA -->
        <div class="frame" style="left: 10px; top: 240px; width: 251px; height: 381px;">
            <button class="button" style="left: 20px; top: 230px; width: 211px; height: 131px;">Realizar venda</button>
        </div>
        <div class="line vertical" style="left: 260px; top: 240px; height: 381px;"></div>
        <div class="line vertical" style="left: 570px; top: 0px; height: 151px;"></div>
        <div class="line horizontal" style="left: 10px; top: 150px; width: 1141px;"></div>
        <input type="text" class="input" style="left: 120px; top: 170px; width: 441px; height: 41px;">
        <button class="button add-item" style="left: 950px; top: 170px; width: 171px; height: 41px;">Adicionar</button>
        <label class="label" style="left: 20px; top: 180px; width: 91px; height: 28px;">ID Produto:</label>
        <input type="text" class="input" style="left: 620px; top: 170px; width: 321px; height: 41px;">
        <label class="label" style="left: 580px; top: 180px; width: 41px; height: 28px;">Qtd:</label>
    </div>

{% endblock %}