{% extends 'base.html' %}

{% block title %}Cadastro de Convênio{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form class="row">
            <h3>Cadastro</h3>

            <label for="especialidade_convenio">Especialidade:</label>
            <div class="form-group mb-3">
                <input type="text" id="especialidade_convenio" name="especialidade_convenio" class="form-control" placeholder="Especialidade...">
            </div>

            <label for="cnpj_convenio">Cnpj: </label>
            <div class="form-group mb-3">
                <input type="text" id="cnpj_convenio" name="cnpj_convenio" class="form-control"  placeholder="00.000.000/0000-00">
            </div>
            
            <div class="form-group mb-3">

                <table class="table table-striped table-bordered table-hover">
                    <thead class="bg-dark">
                        <tr class="table-active">
                            <th scope="col">Id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Especialidade</th>
                            <th scope="col">Cnpj</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>

                    <tbody>
                        <input type="hidden" name="id_cliente" id="id_cliente_convenio" class="form control">
                        {% for cliente in clientes %}
                        <tr id="{{ cliente.id_cliente }}">
                            <th scope="row">{{ cliente.id_cliente }}</th>
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.especialidade }}</td>
                            <td>{{ cliente.cnpj }}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" id="btnIdCliente" type="button" onclick="btnClickIdCliente('{{ cliente.id_cliente }}')">+</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <button class="btn btn-success" onclick="submeterFormularioCadastro()">Cadastrar Convênio</button>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/convenio.js"></script>
{% endblock %}