{% extends 'base.html' %}

{% block title %}Editar de Convênio{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form class="was-validated" id="form_buscar_convenio" method="get" action="/editar_convenio" role="search">
            <h3>Pesquisar</h3>

            <div class="row align-items-end">
                <div class="col-2 mb-3 form-group">
                    <label class="form-label" for="input_id_convenio">ID:</label>
                    <input class="form-control" type="number" name="id_convenio" id="input_id_convenio" placeholder="ID do convenio..." required min="1" value="{{ convenio.id_convenio }}">
                </div>

                <div class="col-10 mb-3 form-group align-items-end">
                    <button class="btn btn-success " type="submit">Buscar</button>
                </div>

            </div>

        </form>
    </div>
</div>

<div class="content">
    <div class="container">
        <form class="row row-cols-1 align-items-end was-validated" id="form_alterar_convenio" action="/api/editar_convenio" role="form" onsubmit="submitFormEditar(event)">
            <h3>Editar</h3>
            <div class="form-group" hidden>
                <input type="hidden" name="id_convenio" value="{{ convenio.id_convenio }}">
            </div>

            <div class="col form-group mb-3">
                <label class="form-label" for="input_especialidade">Especialidade:</label>
                <input class="form-control" type="text" name="especialidade" id="input_especialidade" placeholder="Especialidade..." value="{{ convenio.especialidade }}">
            </div>
            
            <div class="col form-group mb-3">
                <label class="form-label" for="input_cnpj">Cnpj:</label>
                <input class="form-control" type="text" name="cnpj" id="input_cnpj" placeholder="Especialidade..." value="{{ convenio.cnpj }}">
            </div>
                
            <div class="col mb-3 form-group">
                <button class="btn btn-success" type="submit">Editar Convênio</button>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/convenio.js"></script>
{% endblock %}
