{% extends 'base.html' %}

{% block title %}Editar Funcionário{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form class="row" action="/editar_funcionario">
            <h3>Pesquisar</h3>

            <div class="form mb-3 col-2">
                <label for="id_funcionario">ID: </label>
                <div class="form mb-3">
                    <input class="form-control" type="text" name="id_funcionario" id="id_funcionario">
                </div>
            </div>
            <div class="col-2 mt-4">
                <button class="btn btn-success" onclick="submitForm()">Buscar</button>
            </div>
        </form>
    </div>
</div>

<div class="content">
    <div class="container">
        <form id="funcionario_form" class="row" action="/api/editar_funcionario" onsubmit="editarFuncionario(event)">

            <input type="hidden" name="id_funcionario" value="{{ funcionario.id_funcionario}}">
            <input type="hidden" name="id_endereco" value="{{ funcionario.id_endereco}}">

            <h3>{{ funcItem }}</h3>
            <div class="col-12 col-lg-4">
                <label for="nome_funcionario">Nome: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" name="nome" id="nome_funcionario" value="{{ funcionario.nome }}">
                </div>

                <label for="sobrenome_funcionario">Sobrenome: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" name="sobrenome" id="sobrenome_funcionario" value="{{ funcionario.sobrenome }}">
                </div>

                <label for="data_nascimento_funcionario">Data de nascimento: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="date" name="data_nascimento" id="data_nascimento_funcionario" value="{{ funcionario.data_nascimento }}">
                </div>

                <label for="cpf_funcionario">CPF: </label>
                <div class="form mb-3">
                    <input class="form-control" type="text" name="cpf" id="cpf_funcionario" value="{{ funcionario.cpf }}">
                </div>

                <label for="celular_funcionario">Celular: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" name="tel_contato" id="celular_funcionario" value="{{ funcionario.tel_contato }}">
                </div>
            </div>

            <h4>Dados de admissão</h4>
            <div class="col-12 col-lg-4">
                <label for="data_admissao_funcionario">Data de admissão: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="date" name="data_admissao" id="data_admissao_funcionario" value="{{ funcionario.data_admissao }}">
                </div>

                <label for="cargo_funcionario">Cargo:</label>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" name="cargo_funcionario" id="cargo_funcionario" value="{{ funcionario.cargo }}">
                </div>

                <label for="salario_funcionario">Salário:</label>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" name="salario_funcionario" id="salario_funcionario" value="{{ funcionario.salario }}">
                </div>
            </div>

            <h4>Endereço</h4>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <label for="rua_endereco_cliente">Rua: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="rua" id="endereco_cliente" value="{{ funcionario.endereco.rua if funcionario != None else ''}}">
                    </div>
                </div>
                <div class="col-12 col-lg-1">
                    <label for="numero_endereco_cliente">Número: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="numero" id="numero_endereco_cliente" value="{{ funcionario.endereco.numero if funcionario != None else ''}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <label for="bairro_endereco_cliente">Bairro: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="bairro" id="bairro_endereco_cliente" value="{{ funcionario.endereco.bairro if funcionario != None else ''}}">
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <label for="cidade_endereco_cliente">Cidade: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="cidade" id="cidade_endereco_cliente" value="{{ funcionario.endereco.cidade if funcionario != None else ''}}">
                    </div>
                </div>
                <div class="col-12 col-lg-1">
                    <label for="uf_endereco_cliente">UF: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="uf" id="uf_endereco_cliente" value="{{ funcionario.endereco.uf if funcionario != None else ''}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-1">
                    <button class="btn btn-success" type="submit" >Editar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/funcionario.js"></script>
{% endblock %}