{% extends 'base.html' %}

{% block title %}Editar Funcionário{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form class="row">
            <h3>Pesquisar</h3>

            <div class="form mb-3 col-2">
                <label for="id_funcionario">ID: </label>
                <div class="form mb-3">
                    <input class="form-control" type="text" name="" id="id_funcionario">
                </div>
            </div>
            <div class="col-2 mt-4">
                <button class="btn btn-success" onclick="submitForm()">Buscar</button>
            </div>
        </form>
    </div>
</div>

<div class="content">
    <div class="container">
        {% include '/pages/funcionario/form_funcionario.html' %}
    </div>
</div>

{% endblock %}