{% extends 'base.html' %}

{% block title %}Visualizar Funcionário{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form action="">

            <div class="row">
                <div class="col">
                    <h3>Filtrar</h3>
                </div>
            </div>
            
            <div class="row row-cols-2 m-3">
                <div class="col form-group">
                    <label for="filtro_data_cadastro_inicio_funcionario">Data de Admissão Inicial:</label>
                    <input type="date" id="filtro_data_cadastro_inicio_funcionario" name="data_inicio" class="form-control">
                </div>
                
                <div class="col form-group">
                    <label for="filtro_data_cadastro_final_funcionario">Data de Admissão Final:</label>
                    <input type="date" id="filtro_data_cadastro_final_funcionario" name="data_final" class="form-control">
                </div>
            </div>

            <div class="row row-cols-2 m-3">
                <div class="col form-group">
                    <label for="filtro_idade_funcionario_min">Salário mínimo: </label>
                    <input type="number" id="filtro_idade_funcionario_min" name="salario_min" class="form-control">
                </div>

                <div class="col form-group">
                    <label for="filtro_idade_funcionario_max">Salário máximo: </label>
                    <input type="number" id="filtro_idade_funcionario_max" name="salario_max" class="form-control">
                </div>
                
                <div class="row row-cols-1 mt-3">
                    <div class="col mb-3 form-group">
                        <button class="btn btn-success" type="submit">Filtrar</button>
                        <button class="btn btn-danger" type="reset">Limpar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="content">
    <div class="container">
        <h3>Visualizar</h3>
        <form action="/visualizar_funcionario" method="get" role="search"></form>
        <table class="table table-striped table-bordered table-hover mt-3">
            <thead class="bg-dark">
                <tr class="table-active">
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Data de Admissão</th>
                    <th scope="col">Salário</th>
                </tr>
                <tbody>
                    {% for funcionario in funcionarios %}
                    <tr id="{{ funcionario.id_funcionario }}">
                        <th scope="row">{{ funcionario.id_funcionario }}</th>
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.sobrenome }}</td>
                        <td>{{ funcionario.data_admissao }}</td>
                        <td>{{ funcionario.salario }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
</div>
<script src="/static/js/funcionario.js"></script>
{% endblock %}