{% extends 'base.html' %}

{% block title %}Cadastro de Devolução{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form class="was-validated" id="form_buscar_venda" method="get" action="/cadastrar_devolucao" role="search">
            <h3>Cadastrar Devolução</h3>

            <div class="row align-items-end">
                <div class="col-2 mb-3 form-group">
                    <label class="form-label" for="input_id_venda">Buscar Venda:</label>
                    <input class="form-control" type="number" name="id_venda" id="input_id_venda" placeholder="ID da venda..." required min="1" value="{{ venda.id_venda }}">
                </div>

                <div class="col-10 mb-3 form-group align-items-end">
                    <button class="btn btn-success " type="submit">Buscar</button>
                </div>

            </div>

        </form>
    </div>
</div>

<div class="content">
    <div class="container">
        <form 
            class="row row-cols-1 align-items-end was-validated" 
            id="form_cadastrar_item_devolucao" 
            action="/api/cadastrar_devolucao" 
            role="form" 
            onsubmit="submitFormCadastro(event)">

            <h3>Vendas</h3>

            <div class="col form-group mb-3">
                <table class="table table-striped table-bordered table-hover mt-3">
                    <thead class="bg-dark">
                        <tr class="table-active">
                            <th scope="col">Id da Venda</th>
                            <th scope="col">Id do Produto</th>
                            <th scope="col">Nome do Produto</th>
                            <th scope="col">Qtde</th>
                            <th scope="col">Valor Unit</th>
                            <th scope="col">Valor Total</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for item in venda.itens_venda %}
                        <tr id="{{ item.id_produto }}">
                            <th scope="row" id="th_id_venda">{{ item.id_venda }}</th>
                            <td>{{ item.id_produto }}</td>
                            <td>{{ item.produto.nome }}</td>
                            <td>{{ item.qtde }}</td>
                            <td>{{ item.produto.valor }}</td>
                            <td id="valor-{{item.id_produto}}">{{ (item.produto.valor * item.qtde) }}</td>
                            <td>
                                <button class="btn btn-danger btn-sm" type="button" onclick="btnClickIdVenda('{{ item.id_produto }}', '{{ item.qtde}}')">+</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
    
                    <tfoot>
                        <tr id="valor_total_venda">
                            <td colspan="7" scope="row">
                                <span>Valor Total: {{ venda.valor_total }}</span>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div>
                <button class="btn btn-success" type="submit">Cadastrar Devolução</button>
                <button class="btn btn-danger" type="reset">Limpar Campos</button>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/devolucao.js"></script>
{% endblock %}
