{% extends 'base.html' %}

{% block title %}Remover Devolução{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form class="was-validated" id="form_buscar_devolucao" method="get" action="/remover_devolucao" role="search">
            <h3>Pesquisar</h3>

            <div class="row align-items-end">
                <div class="col-2 mb-3 form-group">
                    <label class="form-label" for="input_id_devolucao">ID:</label>
                    <input class="form-control" type="number" name="id_devolucao" id="input_id_devolucao" placeholder="ID da Devolução..." required min="1" value="{{ devolucao.id_devolucao }}">
                </div>

                <div class="col-10 mb-3 form-group align-items-end">
                    <button class="btn btn-success " type="submit">Buscar</button>
                </div>

            </div>

        </form>
    </div>
</div>

<div class="content">
    <div class="container">
        <form class="row row-cols-1 align-items-end" id="form_remover_devolucao" action="/api/remover_devolucao" role="form" onsubmit="submitFormRemover(event)">
            <h3>Devolução</h3>
            <div class="form-group" hidden>
                <input type="hidden" name="id_devolucao" value="{{ devolucao.id_devolucao }}">
            </div>

            <div class="col form-group">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="bg-dark">               
                        <tr class="table-active">
                            <th scope="col">Id</th>
                            <th scope="col">Id Venda</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if produto != None %}
                        <tr id="{{ devolucao.id_devolucao }}">
                            <th scope="row">{{ devolucao.id_devolucao }}</th>
                            <td>{{ devolucao.id_venda }}</td>
                            <td>{{ devolucao.valor_devolucao}}</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            <div class="col mb-3 form-group">
                <button class="btn btn-danger" type="submit">Remover Devolução</button>
            </div>
            
        </form>
        
    </div>
</div>

<script src="/static/js/devolucao.js"></script>
{% endblock %}