{% extends 'base.html' %}

{% block title %}Editar de Produto{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form id="form_buscar_produto" method="get" action="/editar_produto" role="search">
            <h3>Buscar</h3>

            <div class="row align-items-end">
                <div class="col-2 mb-3 form-group ">
                    <label class="form-label" for="input_id_produto">ID: </label>
                    <input class="form-control" type="number" name="id_produto" id="input_id_produto" placeholder="ID do Produto...">
                </div>

                <div class="col-10 mb-3 form-group align-items-end">
                    <button class="btn btn-success " type="submit">Buscar</button>
                </div>

            </div>

        </form>
    </div>
</div>

<div class="content">
    <div class="container">
        <form class="row row-cols-1 align-items-end" id="form_alterar_produto" action="/api/editar_produto" role="form" onsubmit="submitFormEditar(event)">
            <h3>Editar</h3>
            <div class="form-group" hidden>
                <input type="hidden" name="id_produto" value="{{ produto.id_produto }}">
                <input type="hidden" name="id_fornecedor" value="{{ produto.id_fornecedor }}">
            </div>
                
            <div class="col mb-3 form-group">
                <label class="form-label"  for="input_nome_produto">Nome:</label>
                <input class="form-control" type="text" name="nome" id="input_nome_produto" placeholder="Nome do Produto..." value="{{ produto.nome }}">
            </div>

            <div class="col mb-3 form-group">
                <label class="form-label" for="input_valor_produto">Valor: </label>
                <input class="form-control" type="number" name="valor" id="input_valor_produto" placeholder="Valor do Produto..." value="{{ produto.valor }}">
            </div>
            
            <div class="col mb-3 form-group">
                <label class="form-label" for="input_validade_produto">Data de Validade: </label>
                <input class="form-control" type="date" name="data_validade" id="input_validade_produto" value="{{ produto.data_validade }}">
            </div>
                
            <div class="col mb-3 form-group">
                <button class="btn btn-success" type="submit">Editar Produto</button>
            </div>
        </form>
    </div>
</div>

<script src="/static/js/produto.js"></script>
{% endblock %}
