{% extends 'base.html' %}

{% block title %}Cadastro de Cliente{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form id="cliente_form" class="row">
            <h3>{{ funcItem }}</h3>
            <div class="col-12 col-lg-4">
                <label for="nome_cliente">Nome: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" name="nome" id="nome_cliente">
                </div>

                <label for="sobrenome_cliente">Sobrenome: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" name="sobrenome" id="sobrenome_cliente">
                </div>

                <label for="data_nascimento_cliente">Data de nascimento: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="date" name="data_nascimento" id="data_nascimento_cliente">
                </div>

                <label for="cpf_cliente">CPF: </label>
                <div class="form mb-3">
                    <input class="form-control" type="text" name="cpf" id="cpf_cliente">
                </div>

                <label for="celular_cliente">Celular: </label>
                <div class="form-group mb-3">
                    <input class="form-control" type="text" name="tel_contato" id="celular_cliente">
                </div>
            </div>
            <h4>Endereço</h4>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <label for="rua_endereco_cliente">Rua: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="rua" id="endereco_cliente">
                    </div>
                </div>
                <div class="col-12 col-lg-1">
                    <label for="numero_endereco_cliente">Número: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="numero" id="numero_endereco_cliente">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <label for="bairro_endereco_cliente">Bairro: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="bairro" id="bairro_endereco_cliente">
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <label for="cidade_endereco_cliente">Cidade: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="cidade" id="cidade_endereco_cliente">
                    </div>
                </div>
                <div class="col-12 col-lg-1">
                    <label for="uf_endereco_cliente">UF: </label>
                    <div class="form-group mb-3">
                        <input class="form-control" type="text" name="uf" id="uf_endereco_cliente">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button class="btn btn-success">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
<script src="/static/js/cliente.js"></script>
{% endblock %}