{% extends 'base.html' %}

{% block title %}Visualizar de Produto{% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <form action="">

            <div class="row">
                <div class="col">
                    <h3>Filtrar</h3>
                </div>
            </div>
            
            <div class="row row-cols-2 m-3">
                <div class="col form-group">
                    <label for="filtro_data_cadastro_inicio_cliente">Data de Inclusão Inicial:</label>
                    <input type="date" id="filtro_data_cadastro_inicio_cliente" name="data_cadastro_inicio" class="form-control">
                </div>
                
                <div class="col form-group">
                    <label for="filtro_data_cadastro_final_cliente">Data de Inclusão Final:</label>
                    <input type="date" id="filtro_data_cadastro_final_cliente" name="data_cadastro_final" class="form-control">
                </div>
            </div>

            <div class="row row-cols-2 m-3">
                <div class="col form-group">
                    <label for="filtro_idade_cliente_min">Idade Mínima:</label>
                    <input type="number" id="filtro_idade_cliente_min" name="idade_min" class="form-control">
                </div>

                <div class="col form-group">
                    <label for="filtro_idade_cliente_max">Idade Máxima:</label>
                    <input type="number" id="filtro_idade_cliente_max" name="idade_max" class="form-control">
                </div>
                
            </div>

            <div class="row m-3">
                <div class="col">
                    <button class="btn btn-success" onclick="">Filtrar Clientes</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="content">
    <div class="container">
        <h3>Visualizar</h3>

        <table class="table table-striped table-bordered table-hover mt-3">
            <thead class="bg-dark">
                <tr class="table-active">
                    <th scope="col">Id</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">Telefone de Contato</th>
                    <th scope="col">Data de Cadastro</th>
                    <th scope="col">CPF</th>
                </tr>
                <tbody>
                    {% for cliente in clientes %}
                    <tr id="{{ cliente.id_cliente }}">
                        <th scope="row">{{ cliente.id_cliente }}</th>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.sobrenome }}</td>
                        <td>{{ cliente.data_nascimento }}</td>
                        <td>{{ cliente.tel_contato }}</td>
                        <td>{{ cliente.data_cadastro }}</td>
                        <td>{{ cliente.cpf }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
</div>

{% endblock %}